/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ffe4e1, #f0f8ff);
  color: #333;
  line-height: 1.6;
}

/* HEADER */
header {
  background-color: #ff82b2;
  padding: 25px 0;
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.letsgo {
  background-color: #fff;
  color: #ff4f91;
  padding: 10px 18px;
  margin-left: 20px;
  margin-right: -60px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.letsgo:hover {
  background-color: #ffe1ee;
}

.logo-left {
  margin-left: 200px;
  width: 150px;
}

.logo-right {
  margin-right: 200px;
  width: 120px;
  border-radius: 50%;
}

.site-title {
  margin-right: -170px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

/* NAVIGATION */
nav ul {
  margin-top: 15px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s;
}

nav ul li a:hover {
  background-color: rgba(255,255,255,0.2);
}

/* CONTAINERS */
.container {
  max-width: 1000px;
  margin: 40px auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}

h2 {
  color: #ff4f91;
  margin-bottom: 15px;
  font-size: 28px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.column {
  flex: 1;
  min-width: 260px;
}

img {
  margin-left: 80px;
  width: 50%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

/* Portfolio text */
.column p {
  margin-top: 8px;
  font-size: 15px;
  color: #555;
}

/* BUTTONS */
button {
    margin-top: 50px;
  background-color: #ff6aa4;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff4f91;
  transform: translateY(-3px);
}

/* CONTACT SECTION  */
.section {
  padding: 60px 10%;
}

.alt-bg {
  background: #ffffff;
}

.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #bbb;
  font-size: 16px;
}

.contact-form textarea {
  height: 120px;
}

.contact-form button {
  padding: 14px;
  background: #1a1a1a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* FOOTER */
footer {
  margin-top: 40px;
  text-align: center;
  padding: 20px;
  background-color: #ff82b2;
  color: #fff;
}
